 {% extends 'booking/base/base.html' %}
{% load static %}
{% block style %}


{% endblock style %}

{% block body %}
 <!-- end modal-shared -->
    <div class="faq-area section-bg padding-top-100px padding-bottom-60px"> 
    <div
      class="container"
      
    >
    <form action="" method="post">
      {% csrf_token %}
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="modal-content">

          <div class="modal-header" style="display: flex; 
          justify-content: left; 
          align-items: center; ">
            
              <h5 class="modal-title title" id="exampleModalLongTitle2">
                Reset Password
              </h5>
          
            
          </div>
          <div class="modal-body">
            <div class="contact-form-action">
              
                <div class="input-box">
                  <p class="label-text">We have emailed you instructions for resetting password.</p>
                  <p class="label-text">If you don't receive an email. Please make sure you have entered email address you are registered with.</p>
                </div>
                
                
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
      
    </div>  
    </form>  
      </div>
    </div>
  </div>
  

{% endblock body %}

{% block script %}

{% endblock script %} 