 {% extends 'booking/base/base.html' %}
{% load static %}
{% block style %}


{% endblock style %}

{% block body %}
 <!-- end modal-shared -->
 <div class="faq-area section-bg padding-top-100px padding-bottom-60px"> 
    <div
      class="container"
      
    >
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="modal-content">

          <div class="modal-header" style="display: flex; 
          justify-content: left; 
          align-items: center; ">
            
              <h5>
                 Password Reset Complete
              </h5>
          
            
          </div>
          <div class="modal-body">
            <div class="contact-form-action">
              <form method="post">
                <div class="input-box">
                  <p class="label-text">Your password has been reset successfully. You may now go ahead and login 
                     <a href="{% url 'login' %}"> here
                  </a></p>
                   
                </div>
                
                
              
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
      
    </div>  
    </form>  
      </div>
    </div>
  </div>
  

{% endblock body %}

{% block script %}

{% endblock script %} 