{% extends "crm/base/base.html" %}

{% load static %} 

{% block style %} 

{% endblock style %}

{% block content %}

<section class="booking-area padding-top150px padding-bottom-70px">
  <div class="row" style="padding-top: 100px">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <div class="card">
        
        <div class="card-body">
          <!-- HTML form for adding bus data -->
          <center><h2>Add insurance</h2></center>
          <form action="" method="post">
            {% csrf_token %}
          
            <div class="mb-3">
              <label for="name" class="form-label">Insurance Name</label>

              {{ form.name }}
              
            </div>
          
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              {{ form.description }}
            </div>

            <div class="mb-3">
                <label for="coverage_amount" class="form-label">Coverage Amount</label>
                {{ form.coverage_amount }}
              </div>

              <div class="mb-3">
                <label for="premium" class="form-label">Premium</label>
                {{ form.premium }}
              </div>


          
           
          
            <button type="submit" class="btn btn-primary">Add insurance</button>
              <br>
              <br>
          </form>
          
        </div>
       
      </div>
    </div>
    <div  class="col-lg-2"></div>
  </div>
</section>

{% endblock content%} {% block scripts %}

    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
 {% endblock scripts %}
