{% extends "crm/base/base.html" %} 
{% load static %} 
{% block style %} 
{% endblock style %} 

{% block content %}

<div class="page-content">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0 font-size-18">Xero</h4>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body border-bottom">
            <div class="d-flex align-items-center">
              <h5 class="mb-0 card-title flex-grow-1">Xero</h5>
              <div class="flex-shrink-0">
                <a href="{% url 'crm-xero-logout' %}" class="btn btn-light"
                  ><i class="mdi mdi-logout"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
            {% if not xero %}
            <div class="container mt-4">
            <h1>Xero Integration</h1>
            <p>Connect your Xero</p>
            <a href="{% url 'crm-xero-login' %}" class="btn btn-primary">Integrate with Xero</a>
        </div>
            {% else %}

                <div class="card mb-3">
           <div class="card-header">
               Connected Xero Account
           </div>
           <div class="card-body">
               <h5 class="card-title">Organization Name: {{ xero.organization }}</h5>
               <p class="card-text">Organization ID: {{ xero.tenant_id }}</p>
           </div>
                <div class="card-body">
               <h5 class="card-title">Account Name: {{ xero.account_name }}</h5>
               <p class="card-text">Account ID: {{ xero.account_id }}</p>
           </div>
                    {% endif%}
   </div>

   <!-- Organization Selection Form -->

            {% if not xero.tenant_id and organizations%}
       <form method="POST" action="{% url 'xero' %}">

       {% csrf_token %}
       <div class="form-group">
               <label for="organization">Select an Organization:</label>
               <select class="form-control" id="organization" name="organization">
                   {% for org in organizations %}
                       <option value="{{ org.tenantId }}___{{ org.tenantName  }}">{{ org.tenantName }}</option>
                   {% endfor %}
               </select>
           </div>
       <button type="submit" class="btn btn-primary">Select Organization</button>
   </form>
{% endif %}



            {% if not xero.account_id and accounts %}
   <form method="POST" action="{% url 'xero' %}">
       {% csrf_token %}
       <div class="form-group">
           <label for="organization">Select an Account:</label>
           <select class="form-control" id="organization" name="account">
               {% for org in accounts %}
                   <option value="{{ org.AccountID }}___{{ org.Name }}">{{ org.Name }}</option>
               {% endfor %}
           </select>
       </div>
   <button type="submit" class="btn btn-primary">Select Account</button>
        </form>
            {% endif %}
          </div>
        </div>
        <!--end card-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!-- container-fluid -->
</div>




{% endblock content%}
 {% block scripts %} 
 {% endblock scripts %}
